<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <!--<div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                OEM Manager
            </a>
        </div>-->

        <ul class="nav navbar-nav">
            <li><a href="/admin/home">Home</a></li>
            <li><a href="/admin/getAllAccounts">View Existing OEM Accounts</a></li>
            <li><a href="/admin/registerOEM">Create New OEM Account</a></li>
        </ul>
      
    </div>
</nav>